.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-register {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 30px;  /* Bouton plus arrondi */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-register:hover {
    background-color: #0056b3;
  }
  
  .title{
   text-align: center;
  }

  .error{
    color: red;
    font-size: large;
  }